<div class="container">
  <button md-button [routerLink]="['/centros']" color="accent">
    <md-icon aria-label="Agregar nuevo centro de acopio">arrow_back</md-icon> REGRESAR
  </button>
  <md-card>
    <md-card-title>Información del Centro de Acopio</md-card-title>
    <md-card-content>
      <p>asdasdasd</p>
    </md-card-content>
    <md-card-actions>
      <button md-raised-button color="accent">GUARDAR</button>
      <button md-button [routerLink]="['/centros']" color="warn">CANCELAR</button>
    </md-card-actions>
  </md-card>
</div>
