<div class="container">
  <button md-button [routerLink]="['/centros']" color="accent" class="back-button">
    <md-icon aria-label="Agregar nuevo centro de acopio">arrow_back</md-icon> REGRESAR
  </button>
  <md-horizontal-stepper [linear]="isLinear">
    <md-step [stepControl]="acopioCenterForm">
      <form [formGroup]="acopioCenterForm">
        <ng-template mdStepLabel>Información del Centro</ng-template>
        <md-form-field class="full-width">
          <input mdInput placeholder="Nombre" formControlName="name" required>
        </md-form-field>
        <md-form-field class="full-width">
          <input mdInput placeholder="Estado" [mdAutocomplete]="showStates" formControlName="state" required>
          <md-autocomplete #showStates="mdAutocomplete">
            <md-option *ngFor="let filteredState of filteredStates | async" [value]="filteredState.name">
              <span>{{filteredState.name}}</span>
            </md-option>
          </md-autocomplete>
        </md-form-field>
        <md-form-field class="full-width">
          <input mdInput placeholder="Ciudad" formControlName="city" required>
        </md-form-field>
        <md-form-field class="full-width">
          <input mdInput #postalCode maxlength="5" placeholder="Código Postal" formControlName="cp">
          <md-hint align="end">{{postalCode.value.length}} / 5</md-hint>
        </md-form-field>
        <md-form-field class="full-width">
          <textarea mdInput placeholder="Dirección" formControlName="address" required></textarea>
        </md-form-field>
        <md-form-field class="full-width">
          <input mdInput placeholder="Referencia" formControlName="reference">
        </md-form-field>
        <div>
          <!-- <button md-button mdStepperNext (click)="saveCenter(acopioCenterForm.value)">Next</button> -->
          <button md-raised-button color="accent" mdStepperNext [disabled]="acopioCenterForm.invalid">SIGUIENTE</button>
          <button md-button [routerLink]="['/centros']" color="warn">CANCELAR</button>
        </div>
      </form>
    </md-step>
    <md-step [stepControl]="contactsCenterForm">
      <form [formGroup]="contactsCenterForm">
        <ng-template mdStepLabel>Información de Contacto</ng-template>
        <md-form-field class="full-width">
          <input mdInput placeholder="Nombre" formControlName="contactName" required>
        </md-form-field>
        <md-form-field class="full-width">
          <input mdInput placeholder="Teléfono" formControlName="phoneNumber" required>
        </md-form-field>
        <button class="back-button" md-raised-button color="primary" (click)="addContact(contactsCenterForm.value)" [disabled]="contactsCenterForm.invalid">AGREGAR</button>
        <md-table #table [dataSource]="dataSource">
          <ng-container mdColumnDef="contactName">
            <md-header-cell *mdHeaderCellDef> Nombre </md-header-cell>
            <md-cell *mdCellDef="let row"> {{row.contactName}} </md-cell>
          </ng-container>
          <ng-container mdColumnDef="phoneNumber">
            <md-header-cell *mdHeaderCellDef> Teléfono </md-header-cell>
            <md-cell *mdCellDef="let row"> {{row.phoneNumber}} </md-cell>
          </ng-container>
          <ng-container mdColumnDef="actions">
            <md-header-cell *mdHeaderCellDef> Eliminar </md-header-cell>
            <md-cell *mdCellDef="let row">
              <button md-mini-fab color="warn" (click)="removeContact(row);">
                <md-icon>delete</md-icon>
              </button>
            </md-cell>
          </ng-container>
          <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
          <md-row *mdRowDef="let row; columns: displayedColumns;"></md-row>
        </md-table>
        <div>
          <button md-button color="accent" mdStepperPrevious>REGRESAR</button>
          <button md-raised-button color="accent" mdStepperNext>SIGUIENTE</button>
          <button md-button [routerLink]="['/centros']" color="warn">CANCELAR</button>
        </div>
      </form>
    </md-step>
    <md-step>
      <ng-template mdStepLabel>Información Adicional</ng-template>
      You are now done.
      <div>
        <button md-button mdStepperPrevious>Back</button>
      </div>
    </md-step>
  </md-horizontal-stepper>
</div>
