<div class="container">
  <button md-button color="accent" [routerLink]="['nuevo']">
    <md-icon aria-label="Agregar nuevo centro de acopio">add</md-icon> AGREGAR
  </button>
  <div class="acopios-container">
    <md-card class="acopio-card" *ngFor="let centro of centros | async" fxflex>
      <md-card-title>{{centro.name}}</md-card-title>
      <md-card-content>
        <p>{{centro.address}}, {{centro.city}}, {{centro.state}}</p>
        <ul>
          <li *ngFor="let contact of centro?.contacts">{{contact.contactName}} - {{contact.phoneNumber}}</li>
        </ul>
      </md-card-content>
      <!-- <md-card-actions>
        <button md-button>LIKE</button>
        <button md-button>SHARE</button>
      </md-card-actions> -->
    </md-card>
  </div>
  <button md-fab [routerLink]="['nuevo']" class="btn-button">
      <md-icon aria-label="Agregar nuevo centro de acopio" >add</md-icon>
  </button>
</div>